@model FinanceAppMVC.Models.Asset

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Asset</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Symbol)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Symbol)
    </div>

    @foreach (FinanceAppMVC.Models.AssetPrice p in Model.Prices)
    {
        <p>@p.Price - @p.Date</p>
    }

</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
