@model FinanceAppMVC.Models.Asset

@{
    ViewBag.Title = "Details";
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#date").datepicker({ dateFormat: "yy-mm-dd" });
    });
</script>

<h2>@Model.Symbol</h2>

@using (Html.BeginForm("Details", "Asset", FormMethod.Get))
{
    <div class="editor-field">
        @Html.Label("Pick starting date: ")
        @Html.TextBox("date", null, new { id = "date" })
    </div>
    <input type="submit" value="See prices" />
}

@foreach (FinanceAppMVC.Models.AssetPrice p in Model.Prices)
{
    <span>@p.Date: Open @p.OpenPrice Close @p.ClosePrice</span><br />
}
