<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @*@Styles.Render("~/Content/css")*@
        @Styles.Render("~/Content/themes/base/css")
        @Styles.Render("~/Content/bootstrap")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
        @Scripts.Render("~/bundles/jqueryval")     
        @Scripts.Render("~/Scripts/bootstrap")  
    </head>
    <body>
        <header>
            <nav class="navbar navbar-fixed-top">
                <div class="navbar-inner">
                    <div class="container">
                        <a href="@Url.Action("Index", "Portfolio")" class="brand">
                            <img width=60px" src='@Url.Content("~/Images/logo.png")' />                                                    
                        </a>
                        <div>
                            <h1>Nancy</h1>
                            <h6 style="margin-top:-10px;">Financial Portfolio Analysis</h6>
                        </div> 
                    </div>
                </div>
            </nav>
        </header>
        <div id="body" class="container">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>   
        @RenderSection("scripts", required: false)
    </body>
</html>
