@model FinanceAppMVC.Models.Asset

@{
    var options = new AjaxOptions {
      Url = Url.Action("AddAsset", "Portfolio"),
      UpdateTargetId = "AssetList",
      HttpMethod = "POST",
      LoadingElementId = "loader",
      OnSuccess = "$('#Symbol').val('');$('#AssetTable').rowlink();",
      OnBegin = "validateSymbol"
    };
}

<style>
.ui-autocomplete-loading {
    background: white url('@Url.Content("~/Images/ajax-loader-small.gif")') right center no-repeat;
}
</style>

<script type="text/javascript">

    var myResp = {};
    var YAHOO = { Finance: { SymbolSuggest: {} } };

    $(document).ready(function () {

        $("#Symbol").autocomplete({
            source: function (request, response) {
                myResp = response;
                yahooURL = "http://d.yimg.com/autoc.finance.yahoo.com/autoc";
                $.ajax({
                    url: yahooURL,
                    type: "GET",
                    data: { query: request.term },
                    dataType: "JSONP",
                    jsonpCallback: "YAHOO.Finance.SymbolSuggest.ssCallback",
                    crossDomain: true
                });
            },
            select: function (event, ui) {
                symbol = ui.item.value;
                $("#Symbol").val(symbol.substring(0, symbol.indexOf(" ")));
                return false;
            }
        });

        YAHOO.Finance.SymbolSuggest.ssCallback = function(response) {
            data = response.ResultSet.Result;
            var suggestions = [];
            $.each(data, function (i, val) {
                suggestions.push(val.symbol + " - " + val.name);
            });
            myResp(suggestions);
        }

    });

    function validateSymbol() {
        var symbolsList = $.map($("#AssetTable td.rowlink h4"), function (element) { return $(element).text() }).join(",");
        var symbol = $("#Symbol").val();
        if (symbolsList.indexOf(symbol) !== -1) {
            alert("That asset has already been added to this portfolio.");
            return false;
        }
    }

</script>
   
<h3>Add Assets to Portfolio</h3>

@using (Ajax.BeginForm(options)) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend class="hide">Asset</legend>

        <div class="container">
            <div class="input-append" style="float:left">            
                @Html.EditorFor(model => model.Symbol)
                @Html.ValidationMessageFor(model => model.Symbol)
                <button id="add_asset" class="btn btn-success" type="submit">
                <i class="icon-plus icon-white"></i>
                </button>
            </div>
            <div id="loader" style="display:none;">
                <img src="~/Images/ajax-loader.gif" />
            </div>            
        </div>

        @Html.HiddenFor(model => model.PortfolioID)
    </fieldset>
}
