@model IEnumerable<FinanceAppMVC.Models.Asset>
@{
    int portfolioID = 0;
    if (Model.Count() > 0)
    {
        portfolioID = Model.First().PortfolioID;
    }

    var ajaxOptions = new AjaxOptions
    {
        UpdateTargetId = "AssetList",
        Confirm = "Are you sure you want to delete this asset?",
        HttpMethod = "POST",
        LoadingElementId = "loader"
    };
    int i = 0;
}

<script type="text/javascript">
    $(document).ready(function() 
    {
        var weightSum = 0;
        $("table input:text").each(function () {
            weightSum += parseFloat($(this).val());
        });
        if (Math.abs(1 - weightSum) <= .001) {
            $("#portfolioStatistics").show();
        }

        $("#stats").bind("click", function ()
        {
            var weights = [];
            var weightSum = 0;
            $("table input:text").each(function () {
                weights.push({ symbol: $(this).attr("id"), weight: $(this).val() });
                weightSum += parseFloat($(this).val());
            });

            if (Math.abs(1 - weightSum) > .001) {
                alert("Please ensure weights add up to 1.");
            }
            else {
                $.ajax({
                    url: '@Url.Action("SetPortfolioAllocation")',
                    type: 'POST',
                    data: { portfolioId: @portfolioID, weightList: JSON.stringify(weights) },
                    success: function(response) {
                        alert(response.Message);
                        if (response.StatusCode == 0) {
                            $("#portfolioStatistics").show("slow");
                        }
                    }
                });
            }
        });

        $(".formAnchor").click(function() {
            var input = $('<input>').attr({type: 'hidden', name: 'meanRateMethod', value: $("[name='meanRateMethod']:checked").val()});
            $(this).parent('form').append($(input));
            $(this).parent('form').submit();
        });
    });
</script>

<div id="loader" style="display: none">
    <img src="~/Images/ajax-loader.gif" /></div>
<h2>My Assets</h2>

<h3>Mean Rate of Return Calculation Method:</h3>
<input type="radio" name="meanRateMethod" value="Simple" checked="checked" style="width:auto; margin:0 5px 0 50px"/>Simple<br />
<input type="radio" name="meanRateMethod" value="Logarithmic" style="width:auto; margin:0 5px 0 50px"/>Logarithmic<br />

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Symbol)
        </th>
        <th></th>
        <th></th>
        @if (Model.Count() > 0)
        {
            <th>Weight</th>
        }
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Symbol)
            </td>
            <td>
                <form action="@Url.Action("Asset", "Portfolio")">
                    <input type="hidden" name="id" value="@item.ID" />
                    <a href="javascript:void(0)" class="formAnchor">Details</a>
                </form>
            </td>
            <td>
                @Ajax.ActionLink("Delete", "DeleteAsset", new { id = item.ID }, ajaxOptions)
            </td>
            <td>
                <div class="editor-field">
                    <input type="text" id="@String.Format("{0}", item.Symbol)" style="width:50px;" value="@item.Weight" />
                </div>
            </td>
        </tr>
        i++;
    }

    @if (Model.Count() > 0)
    {     
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>
            <button id="stats">Save</button>
        </td>
    </tr>
    <tr>
        <td colspan="3">
            <form action="@Url.Action("RiskAnalysis", "Portfolio")">
                    <input type="hidden" name="id" value="@portfolioID" />
                    <a href="javascript:void(0)" class="formAnchor" style="font-size:medium; font-weight:700;">View Risk Analysis</a>
                </form>
        </td>
        <td id="portfolioStatistics" style="display:none">
            <form action="@Url.Action("PortfolioStatistics", "Portfolio")">
                    <input type="hidden" name="id" value="@portfolioID" />
                    <a href="javascript:void(0)" class="formAnchor" style="font-size:medium; font-weight:700;">View Portfolio Statistics</a>
                </form>
        </td>
    </tr>
    }

</table>