@model IEnumerable<FinanceAppMVC.Models.Asset>
@{
    var ajaxOptions = new AjaxOptions
    {
        UpdateTargetId = "AssetList",
        Confirm = "Are you sure you want to delete this asset?",
        HttpMethod = "POST",
        LoadingElementId = "loader"
    };
}

<h2>My Assets</h2>

@if (Model.Count() > 0)
{
    <h4>@Html.ActionLink("View Risk Analysis", "RiskAnalysis", new { id = Model.First().PortfolioID })</h4>
}

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Symbol)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) 
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Symbol)
        </td>
        <td>
            @Html.ActionLink("Details", "Asset", new { id = item.ID })
        </td>
        <td>
            @Ajax.ActionLink("Delete", "DeleteAsset", new { id = item.ID }, ajaxOptions) 
        </td>
    </tr>
}
</table>

<div id="loader" style="display:none"><img src="~/Images/ajax-loader.gif" /></div>
