@using FinanceAppMVC.Extensions
@model IEnumerable<FinanceAppMVC.Models.Asset>
@{
    int portfolioID = 0;
    if (Model.Count() > 0)
    {
        portfolioID = Model.First().PortfolioID;
    }

    var ajaxOptions = new AjaxOptions
    {
        UpdateTargetId = "AssetList",
        Confirm = "Are you sure you want to delete this asset?",
        HttpMethod = "POST",
        LoadingElementId = "asset-delete-loader"
    };

    var ajaxOptions_AssetStats = new AjaxOptions
    {
        UpdateTargetId = "AssetList",        
        HttpMethod = "POST",
        OnSuccess = "$('#calculatingModal').modal('hide');"
    };
    int i = 0;
}

<script type="text/javascript">
    $(document).ready(function() 
    {
        var weightSum = 0;
        $("table input:text").each(function () {
            weightSum += parseFloat($(this).val());
        });
        if (Math.abs(1 - weightSum) <= .001) {
            $("#portfolioStatistics").show();
        }

        if ($("#CAPM").attr('checked') == "checked")
        {
            $("label").css('visibility', 'visible');
            marker = $('<span />').insertBefore('#MRP');
            $('#MRP').detach().attr('type', 'text').insertAfter(marker).focus();
            marker.remove();
            marker = $('<span />').insertBefore('#RiskFreeRate');
            $('#RiskFreeRate').detach().attr('type', 'text').insertAfter(marker).focus();
            marker.remove();
        }

        $("#stats").bind("click", function ()
        {
            var weights = [];
            var weightSum = 0;
            $("table input:text").each(function () {
                weights.push({ symbol: $(this).attr("id"), weight: $(this).val() });
                weightSum += parseFloat($(this).val());
            });

            if (Math.abs(1 - weightSum) > .001) {
                alert("Please ensure weights add up to 1.");
            }
            else {
                $.ajax({
                    url: '@Url.Action("SetPortfolioAllocation")',
                    type: 'POST',
                    data: { portfolioId: @portfolioID, weightList: JSON.stringify(weights) },
                    success: function(response) {
                        alert(response.Message);
                        if (response.StatusCode == 0) {
                            $("#portfolioStatistics").show("slow");
                        }
                    }
                });
            }
        });

        $("#CAPM").click(function() {
            $("label").css('visibility', 'visible');
            marker = $('<span />').insertBefore('#MRP');
            $('#MRP').detach().attr('type', 'text').insertAfter(marker).focus();
            marker.remove();
            marker = $('<span />').insertBefore('#RiskFreeRate');
            $('#RiskFreeRate').detach().attr('type', 'text').insertAfter(marker).focus();
            marker.remove();
        });

        $("#Historical").click(function() {
            $("label").css('visibility', 'hidden');
            marker = $('<span />').insertBefore('#RiskFreeRate');
            $('#RiskFreeRate').detach().attr('type', 'hidden').insertAfter(marker).focus();
            marker.remove();
            marker = $('<span />').insertBefore('#MRP');
            $('#MRP').detach().attr('type', 'hidden').insertAfter(marker).focus();
            marker.remove();
        });

        $(".formAnchor").click(function() {
            detailForm(this);
        });

        $("td.asset-details").click(function() {
            anchor = $(this).siblings("td.td-form ").children("form").children("a");
            detailForm(anchor);
        });

        function detailForm(anchor) {
            var meanRateMethod = $('<input>').attr({type: 'hidden', name: 'meanRateMethod', value: $("[name='meanRateMethod']:checked").val()});
            var expectedRateMethod = $('<input>').attr({type: 'hidden', name: 'expectedRateMethod', value: $("[name='expectedRateMethod']:checked").val()});
            var riskFreeRate = $('<input>').attr({type: 'hidden', name: 'riskFreeRate', value: $("#RiskFreeRate").val()});
            var MRP = $('<input>').attr({type: 'hidden', name: 'MRP', value: $("#MRP").val()});
            $(anchor).parent('form').append($(meanRateMethod));
            $(anchor).parent('form').append($(expectedRateMethod));
            $(anchor).parent('form').append($(riskFreeRate));
            $(anchor).parent('form').append($(MRP));
            $(anchor).parent('form').submit();
        }
    });
</script>

@if (Model.Count() > 0)
{
    
<div id="TableContainer">
<table id="AssetTable" class="table table-striped table-hover">
    <thead>
        <tr class="nolink">
            <th>
                @Html.DisplayNameFor(model => model.Symbol)
            </th>
            <th></th>
            <th>Weight</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td class="@(item.Portfolio.statsCalculated ? "asset-details" : "")" style="width:100%">
                <h4>@item.Symbol</h4>
            </td>   
            <td class="td-form" style="vertical-align:middle">
                @if (item.Portfolio.statsCalculated)
                {
                    <form action="@Url.Action("Asset", "Portfolio")">
                        <input type="hidden" name="id" value="@item.ID" />
                        <a href="javascript:void(0)" class="formAnchor">Details</a>
                    </form>
                }
            </td>        
            <td>
                <div class="editor-field">
                    <input type="text" id="@String.Format("{0}", item.Symbol)" style="width:50px;" value="@item.Weight" />
                </div>
            </td>            
            <td style="text-align:right">
                @Ajax.RawActionLink("<i class=\"icon-trash icon-white\"></i>", "DeleteAsset", new { id = item.ID }, ajaxOptions, new { @class = "btn btn-danger" })
            </td>
        </tr>
                i++;
    }
    </tbody>
    <tfoot>
        <tr>
            <td></td>
            <td></td>
            <td>
                <button id="stats" class="btn btn-primary">Save</button>
            </td>
            <td>
                <div id="asset-delete-loader" style="display: none">
                    <img src="~/Images/ajax-loader.gif" />
                </div>
            </td>
        </tr>

      @{
    i++;
      }
    </tfoot>
</table>
</div>

<hr />
    
    using (Ajax.BeginForm("CalculateAssetStats", new { id = Model.ToList().First().PortfolioID, date = Model.ToList().First().Portfolio.DefaultStartDate.ToString() }, ajaxOptions_AssetStats))
    {           
        <div class="span4" style="float:left;margin-left:20px">
            <h4 style="display:inline;">Expected Rate Method</h4>
            <div class="btn-group" data-toggle="buttons-radio" style="margin-top:5px;">            
                <button type="button" name="expectedRateMethodRadio" id="Historical" value="Historical" class="btn btn-primary active">Historical</button>
                <button type="button" name="expectedRateMethodRadio" id="CAPM" value="CAPM" class="btn btn-primary">CAPM</button>
            </div>
            <div style="margin-top:10px">
                <label for="RiskFreeRate" id="RiskFreeRate_Label" style="display:inline; font-size:1em; font-weight:400; visibility:hidden">Risk Free Rate: </label>
                <input type="hidden" id="RiskFreeRate" class="input" name="riskFreeRate" style="width:30px; margin-right:25px; margin-top:10px" value="@Model.First().Portfolio.riskFreeRate" />
                <label for="MRP" id="MRP_Label" style="display:inline; font-size:1em; font-weight:400; visibility:hidden">MRP: </label>
                <input type="hidden" id="MRP" class="input" name="MRP" style="width:30px; margin-top:10px" value="@Model.First().Portfolio.MRP"/>
                <input type="hidden" name="expectedRateMethod" value="@(Model.First().Portfolio.isCAPM ? "CAPM" : "Historical")" />
            </div>
        </div>   
        <div class="span4" style="float:left;margin-left:20px">
            <h4 style="display:inline;">Mean Rate Method</h4>
            <div class="btn-group" data-toggle="buttons-radio" style="margin-top:5px;">            
                <button type="button" name="meanRateMethodRadio" value="Logarithmic" class="btn btn-primary active" >Logarithmic</button>
                <button type="button" name="meanRateMethodRadio" value="Simple" class="btn btn-primary">Simple</button>
            </div>
           <input type="hidden" name="meanRateMethod" value="@(Model.First().Portfolio.isSimple ? "Simple" : "Logarithmic")" />
        </div>
        <div class="span3 offset9" style="float:left;margin-left:20px;">
            <h4 style="display:inline;">&nbsp;</h4>
            <input type="submit" class="btn btn-success" value="Calculate Asset Statistics" style="font-size:large;margin-top:5px" onclick="$('#calculatingModal').modal('show')"/>
            <div id="loader2" style="display:none;">
                <img src="~/Images/ajax-loader.gif" />
            </div>  
        </div>
    
        if (Model.First().Portfolio.isCAPM)
        {
            <script type="text/javascript">
                $('#CAPM').addClass("active");
                $('#Historical').removeClass("active"); 
                $("label").css('visibility', 'visible');
                marker = $('<span />').insertBefore('#MRP');
                $('#MRP').detach().attr('type', 'text').insertAfter(marker).focus();
                marker.remove();
                marker = $('<span />').insertBefore('#RiskFreeRate');
                $('#RiskFreeRate').detach().attr('type', 'text').insertAfter(marker).focus();
                marker.remove();
            </script>
        }
        else
        {
            <script type="text/javascript">
                $('#CAPM').removeClass("active");
                $('#Historical').addClass("active");
            </script>
        }
    
        if (Model.First().Portfolio.isSimple)
        {
            <script type="text/javascript">
                $('button[name="meanRateMethodRadio"]:first').removeClass("active");
                $('button[name="meanRateMethodRadio"]:last').addClass("active");
            </script>
        }
        else
        {
            <script type="text/javascript">
                $('button[name="meanRateMethodRadio"]:first').addClass("active");
                $('button[name="meanRateMethodRadio"]:last').removeClass("active");
            </script>
        }
            
        <script type="text/javascript">
            $(".btn-group button").button();
            $('button[name="meanRateMethodRadio"]').click(function() {
                $('input[name="meanRateMethod"]').val($(this).val());
            });
            $('button[name="expectedRateMethodRadio"]').click(function() {
                $('input[name="expectedRateMethod"]').val($(this).val());
            });
        </script> 
    }
}

<!-- Modal -->
<div id="calculatingModal" class="modal hide fade">
  <div class="modal-header">
    <h3 id="calculatingModalLabel" style="display:inline;">Calculating...</h3>
      <img src="~/Images/ajax-loader.gif" style="margin-left:25px;" />
  </div>
</div>
<div id="successModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Success!</h3>
  </div>
    }
    </div>
<div class="offset2" style="display:inline-block;margin-top:10px">
    <div style="float:left;margin-right:20px;">
        <form action="@Url.Action("PortfolioStatistics", "Portfolio")">
            <input type="hidden" name="id" value="@portfolioID" />
            <input type="submit" class="btn btn-info" value="View Portfolio Statistics" style="font-size:large" />
        </form>
        </div>
    <div style="float:left;margin-right:20px;">
        <form action="@Url.Action("RiskAnalysis", "Portfolio")">
            <input type="hidden" name="id" value="@portfolioID" />
            <input type="submit" class="btn btn-info" value="View Risk Analysis" style="font-size:large"/>
        </form>
    </div>
    <div style="float:left;margin-right:20px;">
        <form action="@Url.Action("Optimize", "Portfolio")">
            <input type="hidden" name="id" value="@portfolioID" />
            <input type="submit" class="btn btn-info" value="Optimize Portfolio" style="font-size:large" />
        </form>
    </div>
</div>
