@model FinanceAppMVC.Models.Portfolio

@{
    ViewBag.Title = "Create";
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#DefaultStartDate").datepicker({ dateFormat: "yy-mm-dd" });
    });
</script>

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Portfolio</legend>

        <div>
            @Html.ValidationMessageFor(model => model.PortfolioName)
            @Html.LabelFor(model => model.PortfolioName)
            @Html.EditorFor(model => model.PortfolioName)
        </div>

        <div>
            @Html.ValidationMessageFor(model => model.DefaultStartDate)
            @Html.LabelFor(model => model.DefaultStartDate)
            @Html.EditorFor(model => model.DefaultStartDate)
        </div>
        
        <input type="submit" value="Create" />

    </fieldset>
}
