@model FinanceAppMVC.Models.Portfolio

@{
    ViewBag.Title = "Create";
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#DefaultStartDate").datepicker({
            dateFormat: "mm-dd-yy",
            changeMonth: true,
            changeYear: true,
            showAnim: "slideDown",
            minDate: new Date(2000, 0, 1),
            maxDate: 0,
            yearRange: "-20:+0",
        });
        $("#DefaultStartDate").datepicker("setDate", new Date(2000, 0, 1));
    });
</script>

<h2>Create New Portfolio</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Portfolio</legend>

        <div>
            @Html.ValidationMessageFor(model => model.PortfolioName)
            @Html.LabelFor(model => model.PortfolioName)
            @Html.EditorFor(model => model.PortfolioName)
        </div>

        <div>
            @Html.ValidationMessageFor(model => model.DefaultStartDate)
            @Html.LabelFor(model => model.DefaultStartDate)
            @Html.EditorFor(model => model.DefaultStartDate)
        </div>
        
        <input type="submit" class="btn btn-primary" value="Create" />

    </fieldset>
}
