@model FinanceAppMVC.Models.Portfolio

@{
    var options = new AjaxOptions {
      HttpMethod = "POST",
      OnSuccess = "EditDateSuccessCallback"
    };
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#DefaultStartDate").datepicker({
            dateFormat: "mm-dd-yy",
            changeMonth: true,
            changeYear: true,
            showAnim: "slideDown",
            minDate: new Date(2000, 0, 1),
            maxDate: 0,
            yearRange: "-20:+0",
        });
        $("#DefaultStartDate").val("@Model.DefaultStartDate.ToString("MM-dd-yyyy")");
    });

    function EditDateSuccessCallback(data) {
        if (data.ReturnValue == 0) {
            alert(data.Message);
        } else {
            alert("Error " + data.ReturnValue + ": " + data.Message);
        }
    }
</script>

<h3>Edit Start Date</h3>
@using (Ajax.BeginForm("EditDefaultStartDate", "Portfolio", options))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend class="hide">Assets</legend>

        <div class="input-append" >            
            @Html.EditorFor(model => model.DefaultStartDate)
            @Html.ValidationMessageFor(model => model.DefaultStartDate)
            <input id="save_date" class="btn btn-primary" style="display:inline" type="submit" value="Save" />
        </div>

        @Html.HiddenFor(model => model.ID)
    </fieldset>
}